mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand img {
  width: 32px;
  height: 32px;
}

.brand span {
  font-weight: bold;
}
